# Git 관련 파일 및 폴더
.git
.gitignore

# Node.js 관련 파일 및 폴더
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn

# 빌드 결과물 (Dockerfile에서 다시 빌드하므로 최종 복사본에 포함되지 않도록)
build
dist
public/build

# 환경 설정 파일
.env
.env.*
.env.production.local # 예시: 로컬 환경 변수 파일
.env.development.local

# 로그 파일
*.log
logs
temp

# 에디터 및 OS 관련 파일
.vscode
.idea
.DS_Store
Thumbs.db